.swiper-pagination-bullet {
  background-color: #ccc !important; /* default bullets */
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #6366f1 !important; /* your primary */
  transform: scale(1.2);
}
